li{
    transition: .5s;
    overflow: hidden;
}
.handle{
    width: 40px;
    border:1px solid #ccc;
    background: #ffffff;
    position: absolute;
    right: 10px;
    top: 1px;
    text-align: center;
}
.handle a{
    display: block;
}
.list-group-item .centence{
    padding: 0 50px;
}
.uesr{
    font-size: 22px;
}